<div class="contenido">
    <mat-card class="example-card" routerLink="/pelicula">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>      
        </mat-card-header>
        <img mat-card-image src="assets\imagenes\imagen-peliculas.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h1>Películas</h1>
        </mat-card-content>    
      </mat-card>
    
      <mat-card class="example-card" routerLink="/directores">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>      
        </mat-card-header>
        <img mat-card-image src="assets\imagenes\directores-peliculas.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h1>Directores</h1>
        </mat-card-content>    
      </mat-card>
    
</div>
