<section>
    <mat-toolbar class="header">
      <button mat-icon-button class="example-icon arrow_back_ios-icon" routerLink="/categoria">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </mat-toolbar>
  </section>
  
  <div class="directores">
    <div class="container">
      <h1>DIRECTORES</h1> 
  
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card-pelicula">
        <div class="card-body">
            <h2 class="card-text">Hayao Miyazaki</h2>           
        </div>
        <img src="assets\imagenes\hayao-director.jpg" >  
        
      </div>

      <div class="card-pelicula">
        <div class="card-body">
            <h2 class="card-text">Isao Takahata</h2>           
        </div>
        <img src="assets\imagenes\isao-director.jpg" >          
      </div>

      <div class="card-pelicula">
        <div class="card-body">
            <h2 class="card-text">Yoshifumi Kondō</h2>           
        </div>
        <img src="assets\imagenes\yoshifumi-director.jpg" >  
      </div>

      <div class="card-pelicula">
        <div class="card-body">
            <h2 class="card-text">Gorō Miyazaki</h2>           
        </div>
        <img src="assets\imagenes\goro-director.jpg" >          
      </div>

      <div class="card-pelicula">
        <div class="card-body">
            <h2 class="card-text">Hiromasa Yonebayashi</h2>           
        </div>
        <img src="assets\imagenes\hiromasa-director.jpg" >          
      </div>

    </div>
  </div>
    
  </div>
  </div>