img {   
    height: 400px;
}

.card-text {
    width: 80%;
    padding-left: 4%;
}

.peliculas{
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-pelicula{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

h2{
  color: rgb(0, 108, 250);
  font-weight: 1000;
}

h1{
    color: rgb(0, 200, 250);
    font-weight: 1000;
    font-size:xx-large;
    text-align: center;
    padding-top: 2%;
  }